USE [master]
GO
/****** Object:  Database [PatientInformation]    Script Date: 6/20/2023 8:28:27 PM ******/
CREATE DATABASE [PatientInformation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PatientInformation', FILENAME = N'E:\SQL SERVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\PatientInformation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PatientInformation_log', FILENAME = N'E:\SQL SERVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\PatientInformation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PatientInformation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PatientInformation]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 6/20/2023 8:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[Bill_ID] [int] NOT NULL,
	[Bill_Amount] [int] NULL,
	[Bill_Date] [varchar](30) NULL,
	[Bill_Status] [varchar](20) NULL,
 CONSTRAINT [pk_Billing] PRIMARY KEY CLUSTERED 
(
	[Bill_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[example_view]    Script Date: 6/20/2023 8:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[example_view] as (

select Patient_ID ,Patient_Name,Amount
From Billing where Amount > '7000'
)
GO
/****** Object:  Table [dbo].[WardInfo]    Script Date: 6/20/2023 8:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WardInfo](
	[Ward_No] [int] NOT NULL,
	[Ward_Name] [varchar](20) NULL,
	[Ward_Type] [varchar](20) NULL,
	[ChargePerDay] [int] NULL,
	[Bed_Capacity] [int] NULL,
 CONSTRAINT [pk_WardInfo] PRIMARY KEY CLUSTERED 
(
	[Ward_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientWard]    Script Date: 6/20/2023 8:28:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientWard](
	[Ward_No] [int] NULL,
	[Patient_ID] [int] NULL,
	[AdmitDate] [varchar](20) NULL,
	[DischargeDate] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Patient_ID] [int] NOT NULL,
	[Patient_Name] [varchar](20) NULL,
	[Patient_Address] [varchar](20) NULL,
	[Gender] [varchar](6) NULL,
	[Phone_No] [int] NULL,
	[Occupation] [varchar](15) NULL,
	[Insurance_No] [int] NULL,
	[Age] [int] NULL,
 CONSTRAINT [pk_Patient] PRIMARY KEY CLUSTERED 
(
	[Patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DisplayPatientWard]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[DisplayPatientWard] as (
Select W.Ward_No,Ward_Name,P.Patient_ID,Patient_Name from WardInfo W
Inner Join PatientWard PW on PW.Ward_No = W.Ward_No
Inner Join Patient P on P.Patient_ID = PW.Patient_ID
)
GO
/****** Object:  Table [dbo].[PatientBill]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientBill](
	[Bill_ID] [int] NULL,
	[Patient_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DisplayPatientBill]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[DisplayPatientBill] as (
Select PB.Patient_ID,Patient_Name,Bill_Amount,Bill_Date from Billing B
Inner Join  PatientBill PB on PB.Bill_ID = B.Bill_ID 
Inner Join  Patient P on P.Patient_ID = PB.Patient_ID
)
GO
/****** Object:  Table [dbo].[PatientApp]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientApp](
	[App_Id] [int] NULL,
	[Patient_ID] [int] NULL,
	[Doctor_Id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[App_Id] [int] NOT NULL,
	[Patient_Name] [varchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [varchar](10) NULL,
	[Phone_No] [int] NULL,
	[Doctor_Name] [varchar](50) NULL,
	[App_Date] [varchar](15) NULL,
	[Time_Slot] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[App_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Doctor_Id] [int] NOT NULL,
	[Doctor_Name] [varchar](50) NULL,
	[Job_Title] [varchar](20) NULL,
	[Age] [int] NULL,
	[Department] [varchar](20) NULL,
	[Education] [varchar](20) NULL,
	[Phone_No] [int] NULL,
	[Salary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Doctor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetUpcomingAppointments]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetUpcomingAppointments](@dateInput DATE)
RETURNS TABLE
AS
RETURN
(
        SELECT P.patient_name, A.app_date, D.doctor_name, B.bill_amount
        FROM Patient P
        JOIN PatientApp PA ON P.patient_id = PA.patient_id
        JOIN Appointments A ON PA.app_id = A.app_id
        JOIN doctors D ON PA.doctor_id = D.Doctor_id
        LEFT JOIN PatientBill PB ON P.patient_id = PB.patient_id
        LEFT JOIN Billing B ON PB.bill_id = B.bill_id
        WHERE A.app_date = @dateInput
       
    )
GO
/****** Object:  UserDefinedFunction [dbo].[GetPatientWardDetails]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetPatientWardDetails](@patientId INT)
RETURNS TABLE
AS
RETURN
SELECT  P.patient_name, P.gender, P.phone_No,PW.ward_no, WI.ward_name, WI.ward_type, WI.chargeperday,
           PW.admitdate, PW.dischargedate,
          
           D.doctor_name,
           B.bill_amount, B.bill_Date
    FROM PatientWard PW
    JOIN WardInfo WI ON PW.ward_no = WI.ward_no
    JOIN patient P ON PW.patient_id = P.patient_id
    LEFT JOIN (
        SELECT PA.patient_id, D.doctor_name, A.app_id
        FROM PatientApp PA
        JOIN doctors D ON PA.doctor_id = D.Doctor_id
        JOIN Appointments A ON PA.app_id = A.app_id
    ) A ON PW.patient_id = A.patient_id
    LEFT JOIN (
        SELECT PB.patient_id, B.bill_amount, B.bill_Date
        FROM PatientBill PB
        JOIN Billing B ON PB.bill_id = B.bill_id
    ) B ON PW.patient_id = B.patient_id
    LEFT JOIN doctors D ON A.doctor_name = D.doctor_name
    WHERE PW.patient_id = @patientid

	
GO
/****** Object:  UserDefinedFunction [dbo].[GetDoctorPatientSummary]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetDoctorPatientSummary]()
RETURNS TABLE
AS
RETURN
SELECT D.doctor_name, D.job_title, D.department, D.education,
           COUNT(DISTINCT PA.patient_id) AS patientCount,
           COUNT(DISTINCT 
		   CASE 
		   WHEN PB.bill_id IS NOT NULL THEN PA.patient_id 
		   END)
		   AS billedPatientCount,
           ISNULL(SUM(B.bill_amount), 0) AS totalBillAmount
 
    from PatientApp PA, PatientBill PB, billing b, doctors d where D.Doctor_id = PA.doctor_id and PA.patient_id = PB.patient_id
    and PB.bill_id = B.bill_id
    GROUP BY D.doctor_name, D.job_title, D.department, D.education

GO
/****** Object:  Table [dbo].[EHR]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EHR](
	[Patient_ID] [int] NOT NULL,
	[Patient_Name] [varchar](30) NULL,
	[Medical_History] [varchar](50) NULL,
	[Blood_Pressure] [varchar](30) NULL,
	[Weight] [int] NULL,
	[Reports] [varchar](30) NULL,
	[Medications] [varchar](30) NULL,
 CONSTRAINT [pk_EHR] PRIMARY KEY CLUSTERED 
(
	[Patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetPatientMedicalSummary]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetPatientMedicalSummary](@patientId INT)
RETURNS TABLE
AS
RETURN
(SELECT P.patient_name, P.age, P.gender, E.medical_History, E.blood_pressure, E.Weight,
           STUFF(
                (SELECT ', ' + e1.reports
                 FROM ehr E1
                 CROSS APPLY STRING_SPLIT(E1.reports, ',') 
                 WHERE E1.patient_id = P.patient_id
                 ORDER BY e1.reports
                 FOR XML PATH('')), 1, 2, '') AS allReports,
           STUFF(
                (SELECT ', ' + e2.medications
                 FROM ehr E2
                 CROSS APPLY STRING_SPLIT(E2.medications, ',') M
                 WHERE E2.patient_id = P.patient_id
                 ORDER BY e2.medications
                 FOR XML PATH('')), 1, 2, '') AS allMedication
    FROM patient P
    LEFT JOIN ehr E ON P.patient_id = E.patient_id
    WHERE P.patient_id = @patientId
);
GO
/****** Object:  Table [dbo].[PatientDischarge]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDischarge](
	[Patient_ID] [int] NULL,
	[Patient_Name] [varchar](30) NULL,
	[DischargeDate] [varchar](20) NULL,
	[Bill_Amount] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Appointments] ([App_Id], [Patient_Name], [Age], [Gender], [Phone_No], [Doctor_Name], [App_Date], [Time_Slot]) VALUES (1, N'Ali', 30, N'Male', 43257, N'Dr.Rizwan', N'20-May-2023', N'1:15-1:35')
INSERT [dbo].[Appointments] ([App_Id], [Patient_Name], [Age], [Gender], [Phone_No], [Doctor_Name], [App_Date], [Time_Slot]) VALUES (2, N'Aamir', 32, N'Male', 65257, N'Dr.Ahmed', N'25-May-2023', N'12:30-12:45')
INSERT [dbo].[Appointments] ([App_Id], [Patient_Name], [Age], [Gender], [Phone_No], [Doctor_Name], [App_Date], [Time_Slot]) VALUES (3, N'Haider', 25, N'Male', 87557, N'Dr.Rizwan', N'29-May-2023', N'1:00-1:20')
GO
INSERT [dbo].[Billing] ([Bill_ID], [Bill_Amount], [Bill_Date], [Bill_Status]) VALUES (1, 5000, N'2023-06-01', N'Cleared')
INSERT [dbo].[Billing] ([Bill_ID], [Bill_Amount], [Bill_Date], [Bill_Status]) VALUES (2, 7500, N'2023-06-05', N'Cleared')
INSERT [dbo].[Billing] ([Bill_ID], [Bill_Amount], [Bill_Date], [Bill_Status]) VALUES (3, 22000, N'2023-06-10', N'Not Cleared')
GO
INSERT [dbo].[Doctors] ([Doctor_Id], [Doctor_Name], [Job_Title], [Age], [Department], [Education], [Phone_No], [Salary]) VALUES (1, N'Dr.Rizwan', N'Surgeon', 35, N'Surgery', N'MD', 12345, 50000)
INSERT [dbo].[Doctors] ([Doctor_Id], [Doctor_Name], [Job_Title], [Age], [Department], [Education], [Phone_No], [Salary]) VALUES (2, N'Dr.Ahmed', N'Pediatrician', 40, N'Pediatrics', N'MBBS', 98765, 45000)
INSERT [dbo].[Doctors] ([Doctor_Id], [Doctor_Name], [Job_Title], [Age], [Department], [Education], [Phone_No], [Salary]) VALUES (3, N'Dr. Zeeshan', N'Specialist', 42, N'Cardiology', N'MD', 34252, 40000)
GO
INSERT [dbo].[EHR] ([Patient_ID], [Patient_Name], [Medical_History], [Blood_Pressure], [Weight], [Reports], [Medications]) VALUES (1, N'Ahmed', N'Hypertension, Diabetes', N'120/80', 65, N'Blood Test, X-ray', N'Metformin')
GO
INSERT [dbo].[Patient] ([Patient_ID], [Patient_Name], [Patient_Address], [Gender], [Phone_No], [Occupation], [Insurance_No], [Age]) VALUES (1, N'Ahmed', N'B-57,Block K', N'Male', 33257, N'Teacher', 231479, 25)
INSERT [dbo].[Patient] ([Patient_ID], [Patient_Name], [Patient_Address], [Gender], [Phone_No], [Occupation], [Insurance_No], [Age]) VALUES (2, N'Waqas', N'A-67,Block L', N'Male', 32157, N'Salesman', 239089, 35)
INSERT [dbo].[Patient] ([Patient_ID], [Patient_Name], [Patient_Address], [Gender], [Phone_No], [Occupation], [Insurance_No], [Age]) VALUES (3, N'Ali', N'C-77,Block D,', N'Male', 43257, N'Policeman', NULL, 45)
GO
INSERT [dbo].[PatientApp] ([App_Id], [Patient_ID], [Doctor_Id]) VALUES (1, 2, 1)
INSERT [dbo].[PatientApp] ([App_Id], [Patient_ID], [Doctor_Id]) VALUES (2, 5, 2)
INSERT [dbo].[PatientApp] ([App_Id], [Patient_ID], [Doctor_Id]) VALUES (3, 4, 3)
GO
INSERT [dbo].[PatientBill] ([Bill_ID], [Patient_ID]) VALUES (1, 2)
INSERT [dbo].[PatientBill] ([Bill_ID], [Patient_ID]) VALUES (2, 6)
INSERT [dbo].[PatientBill] ([Bill_ID], [Patient_ID]) VALUES (3, 5)
GO
INSERT [dbo].[PatientDischarge] ([Patient_ID], [Patient_Name], [DischargeDate], [Bill_Amount]) VALUES (2, N'Waqas', N'15-June-2023', 5000)
GO
INSERT [dbo].[PatientWard] ([Ward_No], [Patient_ID], [AdmitDate], [DischargeDate]) VALUES (1, 2, N'2023-06-01', N'2023-06-05')
INSERT [dbo].[PatientWard] ([Ward_No], [Patient_ID], [AdmitDate], [DischargeDate]) VALUES (1, 5, N'2023-06-02', N'2023-06-07')
INSERT [dbo].[PatientWard] ([Ward_No], [Patient_ID], [AdmitDate], [DischargeDate]) VALUES (2, 6, N'2023-06-03', N'2023-06-09')
GO
INSERT [dbo].[WardInfo] ([Ward_No], [Ward_Name], [Ward_Type], [ChargePerDay], [Bed_Capacity]) VALUES (1, N'Cardiology', N'Medical', 1500, 20)
INSERT [dbo].[WardInfo] ([Ward_No], [Ward_Name], [Ward_Type], [ChargePerDay], [Bed_Capacity]) VALUES (2, N'Pediatrics', N'Medical', 1200, 15)
INSERT [dbo].[WardInfo] ([Ward_No], [Ward_Name], [Ward_Type], [ChargePerDay], [Bed_Capacity]) VALUES (3, N'Orthopedics', N'Surgical', 1800, 25)
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([App_Id])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[PatientApp]  WITH CHECK ADD  CONSTRAINT [fk_PatientApp] FOREIGN KEY([App_Id])
REFERENCES [dbo].[Appointments] ([App_Id])
GO
ALTER TABLE [dbo].[PatientApp] CHECK CONSTRAINT [fk_PatientApp]
GO
ALTER TABLE [dbo].[PatientApp]  WITH CHECK ADD  CONSTRAINT [fk_PatientDoctor] FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[PatientApp] CHECK CONSTRAINT [fk_PatientDoctor]
GO
ALTER TABLE [dbo].[PatientApp]  WITH CHECK ADD  CONSTRAINT [fk_PatientId] FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[PatientApp] CHECK CONSTRAINT [fk_PatientId]
GO
ALTER TABLE [dbo].[PatientBill]  WITH CHECK ADD  CONSTRAINT [fk_Bill] FOREIGN KEY([Bill_ID])
REFERENCES [dbo].[Billing] ([Bill_ID])
GO
ALTER TABLE [dbo].[PatientBill] CHECK CONSTRAINT [fk_Bill]
GO
ALTER TABLE [dbo].[PatientBill]  WITH CHECK ADD  CONSTRAINT [fk_PatientBill] FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[PatientBill] CHECK CONSTRAINT [fk_PatientBill]
GO
ALTER TABLE [dbo].[PatientWard]  WITH CHECK ADD  CONSTRAINT [fk_PatientWard] FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[PatientWard] CHECK CONSTRAINT [fk_PatientWard]
GO
ALTER TABLE [dbo].[PatientWard]  WITH CHECK ADD  CONSTRAINT [fk_WardInfo] FOREIGN KEY([Ward_No])
REFERENCES [dbo].[WardInfo] ([Ward_No])
GO
ALTER TABLE [dbo].[PatientWard] CHECK CONSTRAINT [fk_WardInfo]
GO
/****** Object:  StoredProcedure [dbo].[GetPatientStatisticsByDepartment]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPatientStatisticsByDepartment]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT D.department AS Department,
           COUNT(DISTINCT P.patient_id) AS TotalPatients,
           COUNT(*) AS TotalAppointments,
           AVG(P.age) AS AverageAge
    FROM doctors D
    JOIN PatientApp PA ON D.Doctor_id = PA.doctor_id
    JOIN Appointments A ON PA.app_id = A.app_id
    JOIN patient P ON PA.patient_id = P.patient_id
    GROUP BY D.department
    ORDER BY TotalPatients DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[spDisplayApp]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[spDisplayApp] 
as 
begin

select Patient_Name,App_Date,Time_Slot from Appointments A
Inner Join PatientApp PA on A.App_Id = PA.App_Id

end
GO
/****** Object:  StoredProcedure [dbo].[spDoctorsJobTitle]    Script Date: 6/20/2023 8:28:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[spDoctorsJobTitle]
as 
begin
  Select Doctor_Id , Doctor_Name , Age , Education
  from Doctors
  Where Job_Title like 'Surgeon'
end
GO
USE [master]
GO
